<a href="https://colab.research.google.com/github/chocobearz/covid-imaging-hackaton/blob/master/Removing_duplicates_survival.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [155]:
import pandas as pd
metadata = pd.read_csv('https://raw.githubusercontent.com/chocobearz/covid-imaging-hackaton/master/metadata.csv')

In [156]:
metadata['patientid'].nunique()

387

In [158]:
unique_metadata = metadata.drop_duplicates(subset="patientid", keep="last")
print(unique_metadata.shape)
#df1s

(387, 29)

In [159]:
is_covid = unique_metadata['finding']=='COVID-19'
only_covid_metadata = unique_metadata[is_covid]
print(only_covid_metadata.shape)
#print(df1s['finding'])
#print(df1s)

(284, 29)

In [160]:
print(only_covid_metadata['sex'].count())
print(only_covid_metadata['age'].count())
print(only_covid_metadata['finding'].count())
print(only_covid_metadata['survival'].count())

251
206
284
77

In [162]:
measured = ["Y","N"]
no_NA_metadata = only_covid_metadata[only_covid_metadata.survival.isin(measured)]
print(no_NA_metadata.shape)
#print(df1s['survival'])
#print(df1s)

(77, 29)

In [170]:
good_cols = no_NA_metadata[['sex', 'age', 'survival', 'intubated', 'location', 'temperature', 'pO2_saturation', 'leukocyte_count', 'neutrophil_count', 'lymphocyte_count']]
#print(good_cols.shape)

In [171]:
dummysex = pd.get_dummies(good_cols['sex'])
dummysurvival = pd.get_dummies(good_cols['survival'])
dummyintubated = pd.get_dummies(good_cols['intubated'])
dummylocation = pd.get_dummies(good_cols['location'])

In [176]:
#print(dummysex)
#print(dummysurvival)
#print(dummyintubated)
#print(dummylocation)

Brescia, Italy  Centro M?dico Imbanaco, Cali, Valle del Cauca, Colombia  \
3                 0                                                  0
20                0                                                  0
21                0                                                  0
28                0                                                  0
33                0                                                  0
..              ...                                                ...
633               0                                                  0
650               0                                                  0
655               0                                                  0
656               0                                                  0
657               0                                                  0

     Chicago, USA  China  Cho Ray Hospital, Ho Chi Minh City, Vietnam  \
3               0      0                                            1
20              0      0                                            0
21              0      0                                            0
28              0      0                                            0
33              0      0                                            0
..            ...    ...                                          ...
633             0      0                                            0
650             0      0                                            0
655             0      0                                            0
656             0      0                                            0
657             0      0                                            0

     Essen, Germany  Hannover Medical School, Hannover, Germany  \
3                 0                                           0
20                0                                           0
21                0                                           0
28                0                                           0
33                0                                           0
..              ...                                         ...
633               0                                           0
650               0                                           0
655               0                                           0
656               0                                           0
657               0                                           0

     Hospital Hollabrunn, Hollabrunn, Austria  \
3                                           0
20                                          0
21                                          0
28                                          0
33                                          0
..                                        ...
633                                         0
650                                         0
655                                         0
656                                         0
657                                         0

     Hospital Universitario, Madrid, Spain  \
3                                        0
20                                       0
21                                       0
28                                       0
33                                       0
..                                     ...
633                                      0
650                                      0
655                                      0
656                                      0
657                                      0

     Hospital of Wuhan University, Wuhan, China  ...  \
3                                             0  ...
20                                            0  ...
21                                            0  ...
28                                            0  ...
33                                            0  ...
..                                          ...  ...
633                                           0  ...
650                                           0  ...
655                                           0  ...
656                                           0  ...
657                                           0  ...

     Sunnybrook Health Sciences Centre, Toronto, Ontario, Canada  \
3                                                    0
20                                                   1
21                                                   0
28                                                   0
33                                                   0
..                                                 ...
633                                                  0
650                                                  0
655                                                  0
656                                                  0
657                                                  0

     Taichung, Taiwan  Taiwan  Taoyuan General Hospital, Taoyuan, Taiwan  \
3                   0       0                                          0
20                  0       0                                          0
21                  0       0                                          0
28                  0       0                                          0
33                  0       0                                          0
..                ...     ...                                        ...
633                 0       0                                          0
650                 0       0                                          0
655                 0       0                                          0
656                 0       0                                          0
657                 0       0                                          0

     Thailand  Thanh H�a, Vietnam  \
3           0                   0
20          0                   0
21          0                   0
28          0                   0
33          0                   0
..        ...                 ...
633         0                   0
650         0                   0
655         0                   0
656         0                   0
657         0                   0

     The Royal Melbourne Hospital, Melbourne, Australia  \
3                                                    0
20                                                   0
21                                                   0
28                                                   0
33                                                   0
..                                                 ...
633                                                  0
650                                                  0
655                                                  0
656                                                  0
657                                                  0

     Tongji Medical College, Wuhan, Hubei Province, China  Valencia, Spain  \
3                                                    0                   0
20                                                   0                   0
21                                                   1                   0
28                                                   0                   0
33                                                   0                   0
..                                                 ...                 ...
633                                                  0                   0
650                                                  0                   0
655                                                  0                   0
656                                                  0                   0
657                                                  0                   0

     Wuhan, China
3               0
20              0
21              0
28              0
33              0
..            ...
633             0
650             0
655             0
656             0
657             0

[77 rows x 35 columns]

In [181]:
final_clean = pd.concat([good_cols, dummysex,dummyintubated,dummylocation,dummysurvival], axis = 1)

In [183]:
final_clean.to_csv('clean_metadata.csv')